<h1>About Me</h1>
<p>Born and raised in Baltimore, Maryland, USA<p>
<p>Alumnus of Beth Tfiloh Dahan Community School, 2006<p>
<p>Studied at George Washington University in Washington DC, and at Universita degli Studi della Tuscia in Viterbo, Italy<p>
<p>Bachelors of History, University of Maryland, 2010. Concentration in Politics and Economics.<p>
<p>Made Aliyah in July 2011<p>
<p>Completed 2 years of IDF service in the Paratroopers' Brigade</p>

<p>My hobbies are staying in touch with family back in the US, reading, drinking coffee, photobombing, glassblowing, and rock climbing<p>
<p>I am a religious and Zionist Jew living in Israel, but I do not affiliate with any particular sect or movement. Just another yid in the Holy Land, trying to maintain a whole lot of ancient laws and traditions.<p>