<div class="jumbotron center">
	<h1>Welcome to my Digital Resume</h1>
	<p>created by Alex Simone using Ruby on Rails</p>
	<p>
	 <%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %>
	 <%= link_to "Log In", "#", class: "btn btn-default btn-lg" %>
	</p>
</div>