<div class="jumbotron center">
	<h1>Welcome to my Digital Resume</h1>
	<p>created by Alex Simone using Ruby on Rails</p>
	<p> <%= link_to "Sign_Up", "#", class: "btn btn-primary btn-lg" %></p>
	<p> <%= link_to "Log_In", "#", class: "btn btn-primary btn-lg" %></p>
</div>