<h1>My Websites</h1>
<p>Here are links to the websites I've built over the past five years<p>
<p>Some of them are really simple, but the point I want to convey is that I am familiar with multiple platforms. I'm flexible and a quick learner.<p>
<p>The platforms I've worked with are WordPress, Blogspot, Indiegogo, and I built this website from scratch using Ruby on Rails.<p>